---
name: delete_parent
resource: modules/nested_customizations/parent
resource_owner: anyone
redirect_to: /nested_customizations
---
{% form method: "delete" %}
  <button class="btn btn-link">Delete</button>
{% endform %}
