---
slug: client/projects/edit
---
{% query_graph 'get_project', result_name: 'graph_project', slug: params.slugs, creator_id: context.current_user.id %}
{% if graph_project %}
  <h1>Edit {{ project.name }}</h1>
  {% include_form 'project', resource_id: graph_project.project.id %}
{% else %}
  <p>Unfortunately we could not find this project.
{% endif %}

