---
name: delete_contact_form
resource: contact
resource_owner: anyone
redirect_to: /contacts
fields: {}
flash_notice: Contact was successfully deleted.
---

{% form method: "delete" %}
  <button class="btn btn-link">Delete</button>
{% endform %}
