---
slug: sign-in-recaptcha
metadata:
  description: Adding reCaptcha Spam Protection
  docs_slug: tutorials/integrations/adding-recaptcha-spam-protection
---
<h2>Log in</h2>

{% assign signin_failed_attempts = context.session.failed_attempts | plus: 0 %}
<p class="text-muted">Failed login attempts: {{ signin_failed_attempts }}</p>

{% if signin_failed_attempts > 3 %}
  {% include_form 'modules/signin_recaptcha/sign_in_with_recaptcha' %}
{% else %}
  <div class="alert alert-info">Recaptcha will appear after 3 failed login attempts.</div>
  {% include_form 'modules/signin_recaptcha/sign_in_without_recaptcha' %}
{% endif %}

<hr class="hr">

<p>Forgot password? <a href="/recover-password">Recover password</a></p>
<p>New user? Create <a href="/sign-up"> new account</a>.
