---
slug: sign-in-recaptcha-v3
metadata:
  description: Adding reCaptcha V3 Spam Protection
  docs_slug: tutorials/integrations/adding-recaptcha-v3-spam-protection
---
<h2>Log in</h2>
{% include_form 'modules/signin_recaptcha/sign_in_with_recaptcha_v3' %}
