---
name: recover_password_form
resource: modules/users/reset_password
resource_owner: anyone
return_to: /recover-password
flash_notice: If you provided the right email, we will send you reset password instructions.
fields:
  properties:
    email:
      validation:
        presence: true
        email: true
callback_actions: |-
  {% query_graph 'modules/users/generate_user_temporary_token', email: form.properties.email, result: 'g' %}
  {% if g.user %}
    {% execute_query 'modules/users/update_password_token', id: g.user.id, token: g.user.temporary_token %}
  {% endif %}
---
{% form html-class: 'w-50' %}
  <div class="form-group">
    <label for="form_properties_attributes_email">Email</label>
    <input class="form-control" name="{{ form_builder.fields.properties.email.name }}" id="form_properties_attributes_email" type="email">
  </div>
  <button class="btn btn-primary">Recover Password</button>
{% endform %}
