---
slug: sign-in-hcaptcha
metadata:
  description: Adding hCaptcha Spam Protection
  docs_slug: developer-guide/integrations/adding-hcaptcha-spam-protection
---
<h2>Log in</h2>
{% include_form 'modules/sign_in_hcaptcha/sign_in_with_hcaptcha' %}
