---
name: sign_in_without_recaptcha
resource: Session
fields:
  email:
  password:
callback_actions: >
  {% execute_query "modules/signin_recaptcha/clear_failed_signin_attempts" %}
---
{% form html-class: 'w-50' %}
  <div class="form-group">
    <label for="form_email">Email</label>
    <input class="form-control"
      name="{{ form_builder.fields.email.name }}"
      value="{{ form_builder.fields.email.value }}"
      id="form_email"
      type="email">
  </div>

  <div class="form-group">
    <label for="form_password">Password</label>
    <input class="form-control" name="{{ form_builder.fields.password.name }}" id="form_password" type="password">
    {% if form_builder.errors.password %}
      <p>{{ form_builder.errors.password }}</p>
    {% endif %}
  </div>

  {% if form_builder.errors != empty %}
    {% assign attempts = context.session.failed_attempts | default: 1 | plus: 1 %}
    {% execute_query "modules/signin_recaptcha/set_failed_signin_attempts", attempts: attempts %}
  {% endif %}

  <button class="btn btn-primary">Log In</button>
{% endform %}
