---
slug: /
format: html
layout_name: application
---
{% query_graph 'current_user', result_name: g %}
<h1>Welcome
  {% if g.current_user%}
    , {{ g.current_user.first_name }}
  {% else %}
    ! <a href="/sign-up">Please sign up</a> or <a href="/sign-in">Sign In</a>
  {% endif %}
</h1>
{% if g.current_user %}
Not you? {% render_form log_out %}
{% endif %}

{% if g.current_user.client_profile %}
  <a href="/client/projects/new">Create project</a>

  {% query_graph 'client_projects', result_name: client_projects, creator_id: g.current_user.id %}

  {% if client_projects.projects.total_entries > 0 %}
    <ul>
      {% for project in client_projects.projects.results %}
        <li>{{ project.name }} ({{ project.state }}) - <a href="/client/projects/edit/{{project.slug}}">edit</a> {% render_form destroy_project, resource_id: @project.id %}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have not created any projects yet.</p>
  {% endif %}
{% endif %}

