---
slug: recover-password
format: html
layout_name: application
---
<h2>Forgotten Password</h2>
{% if flash.notice != blank %}
  <p>{{ flash.notice }}</p>
{% endif %}
{% render_form recover_password, parent_resource_id: reset_password %}
