{% form html-data-form: "delete" %}
  <input type="hidden" name="_method" value="DELETE" />

  <div class="card">
    <div class="card-header">Delete existing feedback</div>
    <div class="card-body">
      <input type="text" name='customization_id' value="" class="form-control" placeholder="Customization ID" required>

      <div class="w-100"></div>

      <button class="btn btn-primary mt-3">Delete</button>
    </div>
  </div>
{% endform %}