{% form html-data-form: "update" %}
  <input type="hidden" name="_method" value="PUT" />

  <div class="card">
    <div class="card-header">Update existing feedback</div>
    <div class="card-body">

      <input type="text" name='customization_id' value="" class="form-control" placeholder="Customization ID" required>

      <hr class="hr">

      <div class="row">
        <label class="col-4">
          <input type="radio" name='{{ p.rate.name }}' value="Excellent">
          Excellent
        </label>
        <label class="col-4">
          <input type="radio" name='{{ p.rate.name }}' value="Meh">
          Meh
        </label>
        <label class="col-4">
          <input type="radio" name='{{ p.rate.name }}' value="Very bad">
          Very bad
        </label>
      </div>

      <textarea type='text' id="update_message" name='{{ p.message.name }}' class="col-12 form-control mt-3" placeholder="Message"></textarea>

      <button class="btn btn-primary mt-3">Update</button>
    </div>
  </div>
{% endform %}