---
name: update_profile
resource: User
flash_notice: Congratulations, your profile has been updated.
redirect_to: /update_profile
fields:
  profiles:
    developer:
      properties:
        bio:
      custom_attachments:
        cv:
          file:
      custom_images:
        avatar:
          image:
        banner:
          image:
---

{% include 'modules/direct_s3_upload/uppy' %}

<hr>

{% include 'modules/direct_s3_upload/html_form' %}

<hr>

{% include 'modules/direct_s3_upload/ajax' %}

<hr>

{% unless context.current_user.id %}
  <div class="alert alert-danger">
    <strong>Heads up!</strong> Example below require you to be logged in as *developer*.
    <br/>
    If you dont have developer account, <a href="/developer/sign-up">create it here</a>.
  </div>
{% endunless %}

{% include 'modules/direct_s3_upload/name_with_ajax' %}
