---
name: contact_notification
delay: 0
enabled: true
from: 'Example Site <info@example.com>'
subject: Contact
to: '{{ form.properties.email }}'
trigger_condition: true
---
<h2>Hi {{ form.properties.name }}</h2>
<p>Thank you for your request, we will contact you shortly!</p>