<div class="mt-4">
  <h4>List of last five test payments:</h4>
  {% graphql g = "modules/payments/get_payments" %}
  <table>
      <tr>
        <th>ID</th>
        <th>Timezone</th>
        <th>Payer</th>
        <th>Amount</th>
      </tr>
    {% for payment in g.payments.results  %}
      <tr>
        <td>{{ payment.id }}</td>
        <td>{{ payment.timezone }}</td>
        <td>{{ payment.payer.name }}</td>
        <td>{{ payment.total_amount_cents | pricify_cents }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
