---
name: full_form_example
resource: modules/full_form/example_model
resource_owner: anyone
return_to: /full-form-example
flash_alert: This is flash alert (fail)
flash_notice: This is flash notice (success)
fields:
  properties:
    email:
      validation:
        presence:
          message: "Email cannot be empty"
        email: true
    greeting:
      property_options:
        virtual: true
email_notifications:
- welcome_user
api_call_notifications:
- ping_example_com_on_user_sign_up
callback_actions: >
  {% log "Hello from callback actions" %}
async_callback_actions:
  delay: 1
  priority: low
  max_attempts: 2
  content: |-
    {% log "Hello from async callback actions - I am delayed 1 minute!" %}
authorization_policies:
  - modules/full_form/valid_example_policy
default_payload: |-
  {
    "properties_attributes": {
      "greeting": "Hello from default payload!"
    }
  }
---
<p>{{ form.fields.properties.greeting.value }}</p>

{% form html-class: 'w-50' %}
  <div class="form-group">
    <label for="form_email">
      Email
    </label>

    <input
      class="form-control"
      name="{{ form.fields.properties.email.name }}"
      value="{{ form.fields.properties.email.value }}"
      id="form_email"
      type="email"
     >

    <p>{{ form.errors['properties.email'] }}</p>
  </div>

  <button class="btn btn-primary">Save</button>
{% endform %}
