<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>

<body>
  <div class="{% if page.metadata.full_width %}container-fluid{% else %}container{% endif %}">
    {% include 'shared/header' %}

    <main>
      {% include 'shared/flash-messages' %}

      {{ content_for_layout }}
    </main>

    <footer class="my-3 py-3 border-top border-secondary">
      Read more on examples included on this page at <a href="https://documentation.platform-os.com" target="_blank">https://documentation.platform-os.com</a>
      <br>
      Source code can be found at: <a href="https://github.com/mdyd-dev/marketplace-nearme-example" target="_blank">https://github.com/mdyd-dev/marketplace-nearme-example</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </div>
</body>
</html>
