<!doctype html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
</head>

<body>
  <div class="{% if page.metadata.full_width %}container-fluid{% else %}container{% endif %}">
    {% include 'shared/header' %}

    <main>
      {% include 'shared/flash-messages' %}

      {{ content_for_layout }}
    </main>

    <footer class="my-3 py-3 border-top border-secondary">
      Read more on examples included on this page at <a href="https://documentation.platform-os.com" target="_blank">https://documentation.platform-os.com</a>
      <br>
      Source code can be found at: <a href="https://github.com/mdyd-dev/marketplace-nearme-example" target="_blank">https://github.com/mdyd-dev/marketplace-nearme-example</a>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</body>
</html>
