<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- it is good practice for emails to include inline styles rather than css. They can go here. -->
  </head>
  <body>
    Header

    {{ content_for_layout }}

    Footer
  </body>
</html>
