---
name: delete_pdf_upload_form
resource: modules/pdf_generation/pdf_upload
resource_owner: anyone
redirect_to: /pdf-generation
flash_notice: PDF Upload was successfully deleted.
---
{% form method: "delete" %}
  <button class="btn btn-link">Delete</button>
{% endform %}
