---
slug: about
---

{% comment %}
  metadata:
    description: Example of a very simple page
    docs_slug: tutorials/pages/pages


  This page needs some sisters/borthers, showcasing different formats, etc.
  Its a little bit too simple to even show on the list
{% endcomment %}

<h1>About us page</h1>

<p>A paragraph explaining what we do.</p>
