---
slug: /
---

{%- query_graph "pages_list", result_name: "g" -%}

<h1>Examples index</h1>

<table class="table table-lg table-bordered table-striped">
  <thead>
    <tr>
      <th>Example</th>
      <th>Docs</th>
    </tr>
  </thead>
  <tbody>
    {% include "home/item" for g.admin_pages.results %}
  </tbody>
</table>
