---
slug: recover-password
---
<h2>Forgotten Password</h2>

{% if context.flash.notice != blank %}
  <div class="alert alert-info">
    {{ context.flash.notice }}
  </div>
{% endif %}

{% include_form 'recover_password_form' %}
