---
slug: recover-password
---
<h2>Forgotten Password</h2>

{% if flash.notice != blank %}
  <div class="alert alert-info">
    {{ flash.notice }}
  </div>
{% endif %}

{% include_form 'recover_password_form', parent_resource_id: 'reset_password' %}
