---
slug: sign-up
---
<h2>Create new account</h2>

<p>What kind of profile you want to create?</p>

<div class="row">
  <div class="col-auto">
    <a href="/developer/sign-up" class="btn btn-lg btn-primary">Developer</a>
  </div>
  <div class="col-auto d-flex align-items-center">
    <span>or</span>
  </div>
  <div class="col-auto">
    <a href="/client/sign-up" class="btn btn-lg btn-secondary">Client</a>
  </div>
</div>