---
slug: sign-in-recaptcha
format: html
layout_name: application
---
<h2>Log in </h2>
{% assign signin_failed_attempts = context.session.failed_attempts | plus: 0 %}
{% if signin_failed_attempts > 3 %}
  {% render_form 'sign_in_with_recaptcha' %}
{% else %}
  {% render_form 'sign_in_without_recaptcha' %}
{% endif %}

<p>Forgot password? <a href="/recover-password">Recover password</a></p>
<p>New user? Create <a href="/sign-up"> new account</a>.
