---
slug: sign-up
format: html
layout_name: application
---
<h1>Welcome to the Sign Up page!</h1>
<p>Who are you?</p>
<div>
  <div><a href="/developer/sign-up">I am developer</a> who wants to work on projects!</div>
  <div><a href="/client/sign-up">I am client</a> looking for developers to do my gig!</div>
</div>
