---
name: delete_contact_form
resource: Customization
resource_owner: anyone
redirect_to: /contacts
fields: {}
---

{% form method: "delete" %}
  <button class="btn btn-link">Delete</button>
{% endform %}
