---
name: sign_in_with_recaptcha
resource: Session
spam_protection: recaptcha
configuration:
  email:
  password:
---
{% form %}
  <div>
    <label for="form_email"><abbr title="required">*</abbr> Email</label>
    <div>
      <input class="string email required" name="{{ form_builder.fields.email.name }}" value="{{ form_builder.fields.email.value}}" id="form_email" type="email">
    </div>
  </div>
  <div>
    <label for="form_password"><abbr title="required">*</abbr> Password</label>
    <div>
      <input class="password required" name="{{ form_builder.fields.password.name }}" id="form_password" type="password">
      {% if form_builder.errors.password %}
        <p>{{ form_builder.errors.password }}</p>
      {% endif %}
    </div>
  </div>

  {% submit 'Log In' %}
  {% spam_protection %}
{% endform %}
