<ul class="list-inline inline">
  <li class="list-inline-item btn btn-link"><a href="/companies/index">Only Companies</a></li> |
  <li class="list-inline-item btn btn-link"><a href="/programmers/index">Only Programmers</a></li> |
  <li class="list-inline-item btn btn-link"><a href="/programmers/with_companies_1">Programmers + Companies: Slow</a></li> |
  <li class="list-inline-item btn btn-link"><a href="/programmers/with_companies_2">Programmers + Companies: Correct</a></li>
</ul>

<hr/>

<style>
  .scroll tbody {
    display: block;
    height: 250px;
    overflow: auto;
  }
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
  }
  thead {
    width: calc(100% - 1em + 2px);/* scrollbar is average 1em/16px width, remove it from thead width */
  }
</style>
