<h3>benchmarking results</h3>
<table class="table table-bordered table-striped">
  <tr> <td>step</td> <td>result</td> </tr>
  <tr> <td>graph</td> <td>{{_graph_duration}}</td> </tr>
  <tr> <td>render</td> <td>{{_render_duration}}</td> </tr>
</table>
