---
to: '{{ form.email }}'
from: 'PlatformOS Example Project <no-reply@platform-os.com>'
reply_to: no-reply@example.com
subject: 'Welcome {{ form.first_name }} in our marketplace!'
layout_path: mailer
---
<h1>Hi {{ form.first_name }}!</h1>

<p>Welcome in our marketplace!</p>
