{% form html-data-form: "create" %}
  {% assign p = form.fields.properties %}
  <div class="card">
    <div class="card-header">Create new feedback (record)</div>
    <div class="card-body">
      <div class="row">
        <label class="col-4">
          <input type="radio" name='{{ p.rate.name }}' value="Excellent">
          Excellent
        </label>
        <label class="col-4">
          <input type="radio" name='{{ p.rate.name }}' value="Meh">
          Meh
        </label>
        <label class="col-4">
          <input type="radio" name='{{ p.rate.name }}' value="Very bad">
          Very bad
        </label>
      </div>

      <textarea type='text' id="create_message" name='{{ p.message.name }}' class="col-12 form-control mt-3" placeholder="Message"></textarea>

      <button class="btn btn-primary mt-3">Create</button>
    </div>
  </div>
{% endform %}
