<tr>
  <td>
    <a href="https://payment-examples.staging.oregon.platform-os.com">Payment Examples</a>
  </td>
  <td>
    <a href="https://payment-examples.staging.oregon.platform-os.com" target="_blank" rel="noopener">
      Open
      <sup>
        <img src="{{ 'modules/homepage/external.svg' | asset_url }}" width="12">
      </sup>
    </a>
  </td>
</tr>
