---
name: car_form
resource: modules/minimal_form/car
fields:
  properties:
    color: {}
---
{% form %}
  <input name="{{ form_builder.fields.properties.brand.name }}" />
  <button type="submit">Save</button>
{% endform %}
