<!doctype html>
<html lang="en">
<head>
</head>

<body>
  <header>here usually come header, navbar etc..</header>

  <main>
    {{ content_for_layout }}
  </main>

  <footer>
    here usually come footer, js etc.
  </footer>
</body>
</html>
