<h1>List View</h1>
{% if contacts == blank %}
  You don't have any contacts yet. Use the form below to add some.
{% else %}
  <table>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
    {% for contact in contacts %}
    <tr>
      <td>{{ contact.id }}</td>
      <td>{{ contact.email }}</td>
      <td><a href="/contacts/{{ contact.id }}">Details</a></td>
      <td><a href="/contacts/edit/{{ contact.id }}">Edit</a></td>
      <td>{% include_form "delete_contact_form", resource_id: contact.id,
          resource_type: 'contact' %}</td>

    </tr>
    {% endfor %}
  </table>
{% endif %}
{% include_form 'contact_form', parent_resource_id: 'contact' %}
