<h2>Recent contacts</h2>

{% if contacts == blank %}
  There is no contacts yet. Use the form below to add some.
{% else %}
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
    {% for contact in contacts %}
    <tr>
      <td>{{ contact.id }}</td>
      <td>{{ contact.email }}</td>
      <td><a href="/contacts/{{ contact.id }}" class="btn btn-link">Details</a></td>
      <td><a href="/contacts/edit/{{ contact.id }}" class="btn btn-link">Edit</a></td>
      <td>{% include_form "delete_contact_form", id: contact.id %}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

<hr class="hr">

{% include_form 'contact_form' %}
