---
name: email_with_pdf
to: "{{ form.properties.email }}"
delay: 0.1
from: 'PlatformOS Example Project <no-reply@platform-os.com>'
reply_to: no-reply@example.com
subject: 'Here is your pdf!'
layout_path: mailer
attachments: >
  {% graphql pdf = 'modules/pdf_generation/get_pdf_requests', id: form.id %}
  {
    "report.pdf": {
      "url": "{{ pdf.records.results.first.pdf.url }}"
    }
  }
---
<h1>Hi!</h1>

<p>The file should be attached :)</p>
