{% capture direct_file %}inputs/direct_{{ type }}{% endcapture %}
{%- capture debug_info -%}
  {% if field.image %}{{ field.image.s3_upload | json }}
  {% elsif field.file %}{{ field.file.s3_upload | json }}
  {% endif %}
{%- endcapture -%}

<div class="row">
  <div class="col-4">
    {% include direct_file, field: field, label: label %}
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        Debug information coming from <code>form_builder.*.s3_upload</code> key
      </div>
      <div class="card-body">
        <pre><code>{{ debug_info }}</code></pre>
      </div>
    </div>
  </div>
</div>

