---
slug: include
metadata:
  description: Include tag
  docs_slug: api-reference/liquid/include
---

<div class="card mb-5">
  <div class="card-header">
    <h3>Simple include</h3>
  </div>
  <div class="card-body">
    <p data-result="1">
      {% include 'modules/include/mypartial' %}
      <br/>
      {% include 'modules/include/mypartial2' %}
    </p>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h3>Local variable using <code>with</code></h3>
  </div>
  <div class="card-body">
    {% parse_json cars %}
    [{
      "maker": "Honda",
      "model": "CRX"
    }]
    {% endparse_json %}
    <p data-result="2">
      {% include 'modules/include/product' with cars[0] %}
    </p>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h3>
      Iterating over collection using <code>for</code>
    </h3>
  </div>
  <div class="card-body">
    {% parse_json cars %}
    [{
      "maker": "Honda",
      "model": "CRX"
    }, {
      "maker": "Subaru",
      "model": "Forester"
    }, {
      "maker": "Lexus",
      "model": "LFA"
    }]
    {% endparse_json %}
    <p data-result="3">
      {% include 'modules/include/product' for cars %}
    </p>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h3>Private variables and exporting them</h3>
  </div>
  <div class="card-body">
    <h3>Demonstration</h3>

    {% include 'modules/include/variable' %}
    <p data-result="4">
      This is empty: {{ my_car }}
    </p>
  </div>

  <div class="card-body">
    <h3>Exporting variable</h3>

    {% include 'modules/include/export' %}
    <p data-result="5">
      Car: {{ context.exports.my_car }}<br/>
    </p>
    <p data-result="6">
      My car maker: {{ context.exports.my_car.honda.maker }}
    </p>
  </div>
</div>
