<h1>Reset password</h1>
{% form_for user, as: user, url: '/users/password', method: post %}
  <p>Fill in your email below and we'll send you instructions to reset your password.</p>
  {% input email, required: true %}
  {% submit 'Reset Password' %}
{% endform_for %}
