---
slug: about
metadata:
  description: Example of a very simple page
  docs_slug: developer-guide/pages/pages
---
{% comment %}
  This page needs some sisters/borthers, showcasing different formats, etc.
  Its a little bit too simple to even show on the list
{% endcomment %}

<h1>About us page</h1>

<p>A paragraph explaining what we do.</p>

<hr class="hr"/>

{% cache 'example-cache' %}

{% parse_json data %}
{ "random_string": "{{ 10 | random_string }}" }
{% endparse_json %}
<p>
  Random string: <span data-test="random_string">{{ data.random_string }}</span>
</p>

{% endcache %}