<header class="my-3 py-3 border-bottom border-secondary">
  <div class="row">
    <div class="col">
      <a href="/" title="Go to home page">🏠</a> PlatformOS Examples
    </div>
    <div class="col text-right">
      {% if context.current_user.id %}
        {{ context.current_user.email }}
        <br>
        {% include_form 'log_out_form' %}
      {% else %}
        <a href="/sign-up">Sign up</a>
        |
        <a href="/sign-in">Log in</a>
      {% endif %}
    </div>
  </div>
</header>
