---
dynamic_cache:
  layout: true
  key: >
    {%- graphql model = 'modules/caches/models_updated_at' | fetch: 'models' | fetch: 'results' | first -%}
    {{ context.page.slug | append: model.updated_at }}
---
{% graphql models = 'modules/caches/get_models' | fetch: 'models' | fetch: 'results' %}

This page cache will be invalidated when any of the `programmer` or `company` models changes or when this page is updated. Whichever comes first. <br>

Random string: {{ 18 | random_string }} <br>

<ul>
  {% for item in models %}
    <li>[{{ item.updated_at }}] {{ item.model_schema_name }} - {{ item.email }}</li>
  {% endfor %}
</ul>