---
slug: upload_application
---

<script src="{{ 'MultipleFilesUpload.js' | asset_url }}" defer></script>

<style>
  .custom-file-label {
      overflow: hidden;
  }
  /* Prevent removing last item on the list */
  [data-multiple-files-item]:first-child [data-multiple-files-button] {
    display: none;
  }
  /* Implement visually hiding of the deleted items */
  .hidden {
    display: none;
  }
</style>

<div class="row">
  <div class="col-6">
    {% include_form 'upload_application', resource_id: context.current_user.id %}
  </div>
</div>
