<!doctype html>
<html lang="en">
<head>
  {% include 'shared/head' %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
  {% include 'shared/sentry' %}
</head>

<body>
  <div class="{% if page.metadata.full_width %}container-fluid{% else %}container{% endif %}">
    {% include 'shared/header' %}

    <main>
      {% include 'shared/flash-messages' %}

      {{ content_for_layout }}
    </main>

    <footer class="my-3 py-3 border-top border-secondary">
      {% if context.page.metadata and context.page.metadata.docs_slug %}
      <p>
        This page is an example for documentation article: <a href="https://documentation.platform-os.com/{{ context.page.metadata.docs_slug }}" target="_blank" rel="noopener">{{ context.page.metadata.description }}</a>
      </p>
      {% else %}
        <p>
          This page is an examples repository for documentation website:  <a href="https://documentation.platform-os.com" target="_blank" rel="noopener">https://documentation.platform-os.com</a>.
        </p>
      {% endif %}

      <p>
        Source code of this project can be found at: <a href="https://github.com/mdyd-dev/marketplace-nearme-example" target="_blank" rel="noopener">https://github.com/mdyd-dev/marketplace-nearme-example</a>
      </p>
    </footer>
  </div>
</body>
</html>
